{% extends "base.html" %} {% block content %}
<form id="prediction-form" method="POST" onsubmit="return validateForm()">
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}

  <label for="map_name">Map name (e.g., de_dust2):</label><br />
  <input type="text" id="map_name" name="map_name" /><br /><br />

  <label for="ct_money">CT total money:</label><br />
  <input type="number" id="ct_money" name="ct_money" step="0.1" /><br /><br />

  <label for="t_money">T total money:</label><br />
  <input type="number" id="t_money" name="t_money" step="0.1" /><br /><br />

  <label for="ct_alive">CT players alive:</label><br />
  <input type="number" id="ct_alive" name="ct_alive" /><br /><br />

  <label for="t_alive">T players alive:</label><br />
  <input type="number" id="t_alive" name="t_alive" /><br /><br />

  <label for="bomb_planted">Bomb planted? (1 = Yes, 0 = No):</label><br />
  <input type="number" id="bomb_planted" name="bomb_planted" /><br /><br />

  <input type="submit" value="Predict" />
</form>
{% endblock %}
